.section__menu{
  position: absolute;
  min-width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.369);
  z-index: 1000;
}

.nav {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 30px 0;
  gap: 32px;
  background-color: rgb(12, 12, 12);
}

.nav__section{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.botao{
  width: 100%;
  background-color: transparent;
  border: none;
}

.div__main{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.div__footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.div__contatos{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.contato__icone{
  font-size: 32px;
}

@media screen and (max-width: 1444px) {
  .nav{
    width: 100%;
  }

  .botao{
    display: none;
  }
}