.sectionVideos {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: rgba(13, 13, 60, 0.113);
}

.banner_container{
  display: flex;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  background-color: rgba(0, 0, 0, 0.27);
}

.capa {
  width: 5%;
  padding: 0 32px 0 0;
  align-self: end;
  opacity: 50%;
}

.logoStarWars{
    position: relative;
    width: 15%;
    padding: 32px 0;
}

.categoriaContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
}

.categoria__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.categoria__nome {
  color: #f8f8f8;
  font-size: 24px;
  padding: 8px;
  margin: 16px 0 0 12px;
}

.categoria__videos {
  display: flex;
  flex: 1;
  justify-content: center;
}

.slider {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 768px) {

  .banner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .capa {
    width: 20%;
    padding: 0 16px 0 0;
    align-self: end;
    opacity: 50%;
  }
  
  .logoStarWars{
      position: relative;
      width: 50%;
      padding: 8px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0px;
    padding: 0;
  }

  .categoria__nome {
    display: flex;
    color: #f8f8f8;
    font-size: 16px;
    margin: 16px 0 0 8px;
  }

  .categoria__descricao {
    color: #f8f8f8;
    line-height: 1.5;
    width: 100%;
  }

  .categoria__videos {
    width: 100%;
    display: flex;
  }
}