.sectionVideos {
  display: flex;
  flex-direction: column
}

.banner {
  height: 400px;
  display: flex;
  justify-content: center;
  background-color: rgba(7, 7, 7, 0.824);
}

.capa {
  height: 100%;
  min-width: 30%;
}

.categoriaContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
}

.categoria__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.categoria__nome {
  color: #f8f8f8;
  font-size: 32px;
  padding: 8px;
  margin: 8px 0 0 28px;
}

.categoria__videos {
  display: flex;
  flex: 1;
  justify-content: center;
}

.slider {
  min-width: 100%;
  display: flex;
}

@media screen and (max-width: 1444px) {

  .banner {
    max-height: 200px;
    display: flex;
    justify-content: center;
  }

  .capa {
    width: auto;
    max-width: 90%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0px;
    padding: 0;
  }

  .categoria__nome {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f8f8;
    font-size: 24px;
    margin: 8px 0 0 0;
  }

  .categoria__descricao {
    color: #f8f8f8;
    line-height: 1.5;
    width: 100%;
  }

  .categoria__videos {
    width: 100%;
    display: flex;
  }
}