.botaoFavoritar {
  display: flex;
  gap: 16px;
  background-color: rgba(86, 86, 86, 0.26);
  color: white;
  text-transform: none;
}

.botaoFavoritado {
  display: flex;
  gap: 16px;
  background-color: rgba(122, 122, 122, 0.26);
  color: orange;
  text-transform: none;
}