.section__categorias {
  padding: 28px 56px;
}

.section__titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  background-color: #494949ab;
  font-size: 32px;
}

.categorias__layout {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: auto;
  padding: 8px 30%;
  border: 1px solid rgb(23, 23, 23);
}

.categoria__nome {
  color: #f8f8f8;
  font-size: 32px;
  padding: 8px;
  margin: 8px 0 0 28px;
}

.section__videos {
  display: flex;
  flex-direction: column
}

.categoria__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.categoria__videos {
  display: flex;
  flex: 1;
  justify-content: center;
}

.slider {
  width: 100%;
  display: flex;
}

.nav__section{
  display: flex;
}

@media screen and (max-width: 1444px) {

  .section__categorias {
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0px;
    padding: 0;
  }

  .categoria__nome {
    display: flex;
    color: #f8f8f8;
    font-size: 24px;
    margin: 8px 0 0 28px;
  }

  .categoria__descricao {
    color: #f8f8f8;
    line-height: 1.5;
    width: 100%;
  }

  .categoria__videos {
    width: 100%;
    display: flex;
  }

  .categorias__layout {
    width: auto;
    padding: 8px 0;
    border: 1px solid rgb(23, 23, 23);
  }

  .nav__section{
    display: flex;
    flex-direction: column;
    padding: 16px 0;
  }

}