.input {
  border-radius: 4px;
  background: #53585D;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.opcao {
  color: white;
}

.inputColorContainer {
  border-radius: 4px;
  background: #53585D;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.inputColor {
  width: 100%;
}

.inputColorLabel {
  color: '#D7D8D7';
}