.container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 16px;
  gap: 32px;
  background-color: #0e0e0e;
}

.menu{
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  height: 1.5em;
  width: auto;
  flex-shrink: 0;
  cursor: pointer;
}

.logo:hover {
  filter: opacity(90%);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__itens {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 900px) {
  .container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e0e0e;
  }

.menu{
  display: flex;
}

.nav {
  display: none;
}

.logo {
  max-width: 120px;
  height: auto;
}

.botao__pesquisa{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  font-size: 24px;
}
}