.container {
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #000000;
}

.logo {
  height: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 16px;
    padding: 4px;
  } 
}
