.playerContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(24, 24, 24);
}

.dadosContainer{
  padding: 40px 10%;
  background-color: rgba(0, 0, 0, 0.407);
  display: flex;
  flex-direction: column;
 gap: 10px;
}

.titulo{
  width: 100%;
  font-size: 32px;
  color: rgb(255, 255, 255);
  padding: 16px 0;
  font-weight: bolder;
}

.tituloContainer{
  background-color: rgba(0, 0, 0, 0.224);
  border-radius: 16px;
  padding: 16px;
  border: 1px solid rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spanTitulo {
  font-size: 12px;
}

.descricao{
  font-size: 26px;
  background-color: #222020b7;
  color: white;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5;
}

.spanDescricao{
  font-size: 12px;
}

.iframe {
  height: 80vh;
}