.playerContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.iframeContainer {
  display: flex;
  align-self: center;
  width: 80%;
  height: 70vh;
}

.dadosContainer {
  padding: 20px 10%;
  display: flex;
  flex-direction: column;
}

.titulo {
  width: 100%;
  font-size: 32px;
  color: rgb(255, 255, 255);
  padding: 16px 0;
  font-weight: bolder;
}

.tituloContainer {
  background-color: rgba(0, 0, 0, 0.224);
  border-radius: 16px;
  padding: 16px;
  border: 1px solid rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spanTitulo {
  font-size: 12px;
}

.spanCategoria {
  font-size: 12px;
}

.descricao {
  font-size: 26px;
  background-color: #222020b7;
  color: white;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.5;
  text-align: start;
}

.spanDescricao {
  font-size: 12px;
}

.relacionados__container {
  background-color: #060606;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 40px 0;
}

.relacionados__titulo {
  padding: 0 0 0 10%;
  color: #f8f8f8;
  font-size: 28px;
  font-style: italic;
}

.slider {
  width: 100%;
  display: flex;
}

@media screen and (max-width:768px) {
  .iframeContainer {
    width: 100%;
    height: 50vh;
  }

  .dadosContainer {
    padding: 40px 5%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
  }

  .relacionados__container {
    padding: 0;
  }

  .relacionados__titulo {
    padding: 16px 5% 0 5%;
    font-size: 18px;
  }
}