.container{
  width: 100%;
  display: flex;  
  align-items: center;
  flex-direction: column;
}

.container__inputPesquisa {
  width: 80%;
  display: flex;
  padding: 100px 0 20px 0;}

.container__cards{
  width: 80%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

  .container__inputPesquisa {
    width: 80%;
    display: flex;
    padding: 30px 0 10px 0;}

  .container__cards{
    width: 100%;
  }
}