.container{
  width: 100%;
  display: flex;  
  align-items: center;
  flex-direction: column;
}

.container__inputPesquisa {
  width: 80%;
  display: flex;
  padding: 100px 0 20px 0;}

  .informativo {
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  .informativo span{
    color: rgb(188, 188, 188);
  }

  .informativo strong {
    color: rgb(226, 226, 226);
    font-weight: bold;
  }

.container__cards{
  width: 80%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

  .container__inputPesquisa {
    width: 90%;
    display: flex;
    padding: 20px 0 10px 0;
  }

  .informativo {
    font-size: 16px;
  }

  .container__cards{
    width: 100%;
    justify-content: center;
  }
}