.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #040204;
}

.imagem {
  display: flex;
  width: auto;
  height: 100%;
}

@media screen {

  .imagem {
    display: flex;
    width: 80%;
    height: 100%;
  }

}