@import url(reset.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  background-image: url(/public/Fundo.jpg);
}

/* Estilo para o scroll horizontal */
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #191919;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #3f3f3f51;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border: 1px solid #1d1d1d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}