@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Raleway', sans-serif;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  color: white;
}

body {
  background-color: rgb(27, 27, 27);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar-track {
  background-color: #000000;

}

body::-webkit-scrollbar-thumb {
  background-color: #191919;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #3f3f3f51;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #323232;
  border: 1px solid #1d1d1d;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444444;
}